doctype html 
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            for list in results
                p= "List: " + list.name + ", updated: " + list.updated
                div
                    ul
                        for book in list.books
                            li= book.isbn
                    ul
                        for book in list.books
                            li= book.title
                    ul
                        for book in list.books
                            li= book.author
                    ul
                        for book in list.books
                            li= book.link
            
                hr